#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/gooddeeds_backbone
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: validate
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
#  devtools:
#    restart:
#      enabled: false

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gooddeeds_backbone
    username: blue
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  devtools:
    restart:
      enabled: false


